* {
    margin: 0;
    background-color: #181818;  
}
   
.main-layout {
    overflow: hidden;  
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    color: white;
    grid-template-rows: 18% 11% 10% 6% 49% 6%;
    font-family:'Raleway', sans-serif; 
}

.header {
    display: grid;
    grid-template-columns: 35% 65%;
}

.avatar {
   text-align: right;
   align-self: center;
   padding: 2%;
}

.avatar img {
    width: 75%;
    height: 75%;    
} 

.contacts {
    text-align: center;
    align-self: center;
}

.lets_connect {
    font-size: clamp(1rem, 1vw, 1.5rem);
    animation: blinking-shadow 8s infinite;
    border-radius: 30px;
    margin-left: 17%;
    margin-right: 17%;
    padding: 5%;
}

.social_icons {
    display: none;
    justify-self: center;
    align-self: center;
}

.social_icons img {
    width: 17%;
    display: inline-block;
    border-radius: 30px;
}

.github{
    animation: icon-anim 6s ease;
}

.linkedin{
    animation: icon-anim 8s ease;
}

.ig{
    animation: icon-anim 10s ease;
}



.menu {
    border-top: 8px white double;
    border-bottom: 8px white double;
    background-color: #181818;
    text-align: center;
    align-self: center;
}

.menu img {
    margin: 2%;
    width: 11%;
    display: inline-block;
    border-radius: 3%;
}

.current_page {
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: flex-start;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: bolder;
    color: white;
    flex-direction: column;
    color: #181818;
    text-shadow: 0 0 10px white,
                 0 0 15px white,             
                 0 0 25px white;
}

.ask_bot {
    background-color: transparent;
    align-self: center;
    text-align: center;
    width: 100%;
    font-size: clamp(1rem, 1vw, 2rem);
}

.yes {
     background-color: transparent;
     border-color: white;
     padding: 4%;
     border-radius: 50%;
     font-size: clamp(1rem, 1vw, 2rem);
}

.no {
    background-color: transparent;
    border-color: white;
    padding: 4%;
    border-radius: 50%;
    font-size: clamp(1rem, 1vw, 2rem);
}

.content {
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: clamp(1rem, 1vw, 2rem);
    white-space: pre-wrap;

}

.footer {
    border-top: 8px white double;
    padding: 2%;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    font-size: clamp(1rem, 1vw, 3rem);
}


@keyframes icon-anim{
    from {opacity: 0;}
    to {opacity: 100;}
}
@keyframes blinking-shadow{
    from {
        box-shadow: 0px 0px 0px #181818;
    }
    to {
        box-shadow: 4px 4px 15px white;
    }
}
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@media screen and (min-device-width: 416px){
    .main-layout {
        margin-left: 5%;
        margin-right: 5%;
    }
}
    
@media screen and (min-device-width: 1024px) and (max-device-height: 1500px){

    .main-layout {
        grid-template-rows: 25% 10% 10% 10% 40% 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .avatar img {
         width: 55%;
         height: 55%;   
     } 

    .menu {
        border-top: 15px white double;
        border-bottom: 15px white double;
    }
    
    .menu img {
        margin: 2%;
        width: 5%;
    }

    .lets_connect {
        border-radius: 50px;
        margin-left: 32%;
        margin-right: 32%;
        padding: 3%;
    } 
    
    .social_icons img {
        width: 7%;
        margin: .5%;
        display: inline-block;
        border-radius: 30px;
    }

    .current_page {
        margin-top: 2%;
        padding: 2%;
        font-weight: bolder;
        text-shadow: 0 0 10px white,
                     0 0 20px white,             
                     0 0 30px white;
    }
    
    .ask_bot {
        background-color: transparent;
        align-self: flex-start;
        text-align: center;
        width: 100%;
        height: auto;
        font-size: clamp(1rem, 1vw, 1.5rem);
    }

    .yes {
        padding: 2%;

    }

    .no {
        padding: 2%;
    }

    .content {
        font-size: medium;
        font-size: clamp(1rem, 1vw, 2rem);
        align-self: flex-start;
    }
    
    .footer{
        border-top: 15px white double;
    }
     
}
