* {
    margin: 0;
    background-color: #181818;
}

.main-layout {
    overflow: hidden;
    display: grid;
    grid-template-rows: 12% 10% 6% 66% 6%;
    grid-template-areas: "menu" "current_page" "options" "tech_content" "footer";
    min-height: 100vh;
    min-height: 100dvh;
    color: white; 
    font-family: 'Raleway', sans-serif;   
}


.menu {
    border-top: 8px white double;
    border-bottom: 8px white double;
    text-align: center;
    align-self: center;
}

.menu img {
    margin: 2%;
    width: 11%;
    display: inline-block;
    border-radius: 2%;
}

.milestone {
    box-shadow: 0px 5px 0px white;
}

.current_page {
    margin-top: 2%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: flex-start;
    color: #181818;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: bolder;
    text-shadow: 0 0 10px white,
                 0 0 20px white,             
                 0 0 30px white;
}

.options {
    background: transparent;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: clamp(1rem, 3vw, 3rem);
}

.education {
    font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    margin-left: 17%;
    margin-right: 17%;
    padding: 5%;
    background-color: white;
    color: #181818;
}

.experience {
    font-weight: bolder;
    text-align: center;
    border-radius: 30px;
    margin-left: 17%;
    margin-right: 17%;
    padding: 5%;
    background-color: white;
    color: #181818;
}

.milestone_content {
    font-size: clamp(1rem, 3vw, 6rem);
    align-self: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.milestone_content img {
    width: 50%;
    height: 50%;
}

.footer{
    border-top: 8px white double;
    padding: 2%;
    text-align: center;
    align-self: center;
    font-size: clamp(1rem, 1vw, 3rem);
}

@media screen and (min-device-width: 416px){
    .main-layout {
        margin-left: 5%;
        margin-right: 5%;
    }

    .menu {
        border-top: 12px white double;
        border-bottom: 12px white double;
    }

    .menu img {
        width: 8%;
    }
    
    .current_page {
        font-size: clamp(2rem, 4vw, 6rem);
    }  
    
}

@media screen and (min-device-width: 1024px) and (min-device-height: 400px){
    .main-layout {
        overflow: hidden;
        display: grid;
        grid-template-rows: 12% 8% 8% 66% 6%;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    .menu {
        border-top: 15px white double;
        border-bottom: 15px white double;
    }

    .menu img {
        margin: 1%;
        margin-left: 2%;
        margin-right: 2%;
        width: 5%;
    }

    .milestone {
        box-shadow: 0px 8px 0px white;
    }

    .current_page {
        margin-top: 0%;
        padding: 2%;
        font-size: 3rem;
        text-shadow: 0 0 10px white,
                     0 0 30px white,             
                     0 0 50px white;
    }
    
    .options {
        font-size: 1.5rem;
        margin-left: 20%;
        margin-right: 20%;
    }

    .education {
        border-radius: 40px;
    }

    .experience {
        border-radius: 40px;
    }
    
    .milestone_content {
        font-size: 1.5rem;
        margin-left: 15%;
        margin-right: 15%;
        align-items: center;

    }

    .milestone_content img {
        width: 40%;
        height: 40%;
    }

    .footer{
        border-top: 15px white double;
    }
     
}
