
* {
    margin: 0;
    background-color: #181818;  
    overflow: auto;
}
   
.main-layout {
    min-height: 100vh;
    min-height: 100dvh;
    /*display: grid;*/
    color: white;
    /*grid-template-rows: 12% 10% 72% 6%;*/
    font-family:'Raleway', sans-serif; 
    
}


.menu {
    border-top: 8px white double;
    border-bottom: 8px white double;
    background-color: #181818;
    text-align: center;
    position: fixed;
    top:0%;

}

.menu img {
    margin: 2%;
    width: 11%;
    align-self: center;
    display: inline-block;
    border-radius: 3%;
}

.current_page {
    margin-top: 23%;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: flex-start;
    font-size: clamp(1.5rem, 2vw, 3rem);
    font-weight: bolder;
    color: white;
    flex-direction: column;
    color: #181818;
    text-shadow: 0 0 10px white,
                 0 0 15px white,             
                 0 0 25px white;
}


.content {
    font-family: 'Raleway', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: clamp(1rem, 1vw, 2rem);

}

.footer {
    border-top: 8px white double;
    padding: 2%;
    flex-wrap: wrap;
    text-align: center;
    font-size: clamp(1rem, 1vw, 3rem);
}


@media screen and (min-device-width: 416px){
    .main-layout {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-height: 1500px){

    .main-layout {
        grid-template-rows: 25% 10% 10% 10% 40% 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

    
    .menu {
        border-top: 8px white double;
        border-bottom: 8px white double;
        background-color: #181818;
        text-align: center;
   /* position: fixed;
    top:0%;*/
    }

    .menu img {
        margin: 2%;
        width: 11%;
        align-self: center;
        display: inline-block;
        border-radius: 3%;
    }

    .current_page {
        margin-top: 2%;
        padding: 2%;
        font-weight: bolder;
        text-shadow: 0 0 10px white,
                     0 0 20px white,             
                     0 0 30px white;
    }
    
    .ask_bot {
        background-color: transparent;
        align-self: flex-start;
        text-align: center;
        width: 100%;
        height: auto;
        font-size: clamp(1rem, 1vw, 1.5rem);
    }

    .yes {
        padding: 2%;

    }

    .no {
        padding: 2%;
    }

    .content {
        font-size: medium;
        font-size: clamp(1rem, 1vw, 2rem);
        align-self: flex-start;
    }
    
    .footer{
        border-top: 15px white double;
    }
     
}


