* {
    overflow: hidden; 
}

.main-layout {
    background-color: #181818;
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 45% 45% 10%;
    text-align: center;
    text-decoration: none;   
}

.marj {
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
    font-weight: bolder;
    font-size: clamp(.5rem, 18vw, 18rem);
    align-self: flex-end;
    padding-bottom: 2%;
    text-shadow: 0 0 10px white,
                 0 0 20px white,             
                 0 0 30px white;
}

.nuza {
    justify-self: center;
    align-self: center;
    width: 85%;
    height: 85%;
    filter: drop-shadow(0 0 10px white);
}

#nuza {
    animation: fill 0.5s ease forwards 4.3s; 
}

#nuza path:nth-child(1){
    stroke-dasharray: 2401.3134765625;
    stroke-dashoffset: 2397.3134765625;
    animation: line-anim 3.5s ease forwards;
}
#nuza path:nth-child(2){
    stroke-dasharray: 2017.9207763671875;
    stroke-dashoffset: 2017.9207763671875;
    animation: line-anim 3.5s ease forwards 0.4s;
}
#nuza path:nth-child(3){
    stroke-dasharray: 1912.2421875;
    stroke-dashoffset: 1912.2421875;
    animation: line-anim 3.5s ease forwards 0.8s;  
}
#nuza path:nth-child(4){
    stroke-dasharray: 1974.150634765625;
    stroke-dashoffset: 1974.150634765625;
    animation: line-anim 3.5s ease forwards 0.12s;    
}

.explore {
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(3rem, 3vw, 3rem);
    color: white;
    text-decoration: solid;
    align-self: flex-start;
    text-shadow: 3px 5px 10px white;
    animation: changecolor 10s;
    }

@keyframes line-anim {
    to {stroke-dashoffset: 0;
        }
    }
    @keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
    }
    @keyframes changecolor {
    from {color: #181818;}
    to {color: white;}
    }
@media screen and (min-device-width: 1024px) and (min-device-height: 800px){
    .marj { 
        font-size: clamp(.5rem, 14vw, 18rem);
}
@media screen and (min-device-width: 1024px) and (min-device-height: 400px){
    .marj {
   
        font-size: clamp(.5rem, 16vw, 18rem);

    }
    .nuza {
        width: 50%;
        height: 70%;
        align-self: flex-start;
        
    }
}
