* {
    margin: 0;
    background-color: #181818;
}

.main-layout {
    overflow: auto;
    min-height: 100vh;
    min-height: 100dvh;
    color: white; 
    font-family: 'Raleway', sans-serif;   
}


.menu {
    border-top: 8px white double;
    border-bottom: 8px white double;
    text-align: center;
    align-self: center;
    position: fixed;
    top: 0%;
}

.menu img {
    margin: 2%;
    width: 11%;
    display: inline-block;
    border-radius: 2%;
}

.current_page {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: flex-start;
    color: white;
    font-size: clamp(1.3rem, 2vw, 3rem);
    font-weight: bolder;
    margin-top: 20%;
    padding: 2%;
}

.blog_card {
    display: grid;
    margin: auto;
    box-shadow: 1px 1px 3px 3px white;
    width: 75%;
    height: 300px;
    padding: 3%;
    border-radius: 15px;
}

.left_box {
    display: grid;
    padding: 2%;
    background-color: white;
    color: #181818;
    width: 70%;
    height: 140px;
    justify-self: right;
    align-self: flex-start;
    box-shadow: 0px 17px 0px white;
    
}

.blog_date {
    text-align: right;
    text-decoration: underline;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: .80rem;
}
.blog_title {
    text-align: left;
    text-decoration: overline;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: .90rem;
    font-style: italic;
}

.blog_desc {
    text-align: left;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: .60rem;
}

.read_more {
    justify-self: right;
    background-color: #181818;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 30px;
    font-size: .60rem;
}

.right_box {
    background-color: pink;
    width: 70%;
    height: 150px;
    justify-self: left;
    align-self: flex-end;
    box-shadow: 12px -12px 0px white;
}

.footer{
    border-top: 8px white double;
    padding: 2%;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    font-size: clamp(1rem, 1vw, 3rem);
    margin-top: 0%;
}
