* {
    margin: 0;
    background-color: #181818;
}

.tech {
    box-shadow: 0px 5px 0px white;
}

.main-layout {
    margin: 0%;
    overflow: auto;
    min-height: 100vh;
    min-height: 100dvh;
    color: white; 
    font-family: 'Raleway', sans-serif;   
}


.menu {
    border-top: 8px white double;
    border-bottom: 8px white double;
    text-align: center;
    align-self: center;
    position: sticky;
    top: 0%;
}

.menu img {
    margin: 2%;
    width: 11%;
    display: inline-block;
    border-radius: 2%;
}

.current_page {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-self: flex-start;
    color: white;
    font-size: clamp(1.3rem, 2vw, 3rem);
    font-weight: bolder;
    padding: 2%;
}

.blog_card {
    display: grid;
    margin: auto;
    box-shadow: 1px 1px 3px 3px white;
    width: 75%;
    height: 300px;
    padding: 3%;
    border-radius: 15px;
    margin-top: 3%;
}

.left_box {
    display: grid;
    padding: 2%;
    background-color: white;
    color: #181818;
    width: 70%;
    height: 140px;
    justify-self: right;
    align-self: flex-start;
    box-shadow: 0px 17px 0px white;
    
}

.blog_date {
    text-align: right;
    text-decoration: underline;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: .80rem;
}
.blog_title {
    text-align: left;
    text-decoration: overline;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: .90rem;
    font-style: italic;
}

.blog_desc {
    text-align: left;
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: .60rem;
}

.read_more {
    justify-self: right;
    background-color: #181818;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border-radius: 30px;
    font-size: .60rem;
}

.right_box {
    width: 70%;
    height: 150px;
    justify-self: left;
    align-self: flex-end;
    box-shadow: 12px -12px 0px white;
    
}

.footer{
    border-top: 8px white double;
    padding: 2%;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    font-size: clamp(1rem, 1vw, 3rem);
    margin-top: 0%;
}

@media screen and (min-device-width: 416px){
    .main-layout {
        margin-left: 5%;
        margin-right: 5%;
    }
    .tech {
        box-shadow: 0px 7px 0px white;
    }
    .menu {
        border-top: 12px white double;
        border-bottom: 12px white double;
    }
    
    .menu img {
        width: 8%;
    }
    
    
    .blog_card {
        width: 70%;
        height: 450px;
    }
    
    .left_box {
        padding: 3%;
        width: 60%;
        height: 180px;    
    }
    
    .blog_date {
        font-size: 1rem;
    }
    .blog_title {
        font-size: 1.1rem;
    }
    
    .blog_desc {
        font-size: .78rem;
    }
    
    .read_more {
        font-size: .75rem;
        padding: 3%;
    }
    
    .right_box {
        background-color: pink;
        width: 70%;
        height: 230px;
        justify-self: left;
        align-self: flex-end;
        box-shadow: 25px -25px 0px white;
        
    }
    
    .footer{
        border-top: 12px white double;
        font-size: clamp(1.4rem, 1vw, 3rem);
    }
    
}

@media screen and (min-device-width: 1024px){
    .main-layout {
        margin-left: 20%;
        margin-right: 20%;
    }
    .tech {
        box-shadow: 0px 7px 0px white;
    }
    .menu {
        border-top: 15px white double;
        border-bottom: 15px white double;
    }
    
    .menu img {
        margin: 1%;
        margin-left: 2%;
        margin-right: 2%;
        width: 5%;
    }
    
    
    .blog_card {
        margin-top: 1%;
        width: 50%;
        height: 500px;
        box-shadow: 2px 2px 4px 4px white;
    }
    
    .left_box {
        padding: 3%;
        width: 45%;
        height: 200px;    
    }
    
    .blog_date {
        font-size: 1.1rem;
    }
    .blog_title {
        font-size: 1.3rem;
    }
    
    .blog_desc {
        font-size: .85rem;
    }
    
    .read_more {
        font-size: .80rem;
        padding: 2%;
    }
    
    .right_box {
        background-color: pink;
        width: 50%;
        height: 250px;
        justify-self: left;
        align-self: flex-end;
        box-shadow: 35px -35px 0px white;
        
    }
    
    .footer{
        border-top: 15px white double;
        font-size: clamp(1.4rem, 1vw, 3rem);
    }
    
}
